[2015-03-09 03:21] oldfartdeveloper opened #2 "Is there a user's document?"
This looks very interesting to me; I share the author's frustration w/ `bash`.

That being said, the syntax looks very much like **C**.  I'm just wondering if there's a document on how to use this.

If not, w/ a little help from the author, I'd be glad to throw something together as a GitHub wiki page just to get people started.

Thanks for doing this!

[2015-03-09 07:32] ryanmjacobs commented on #2
Yes, an `examples/` directory would be very nice.

Cool project, btw :grinning:

[2015-03-09 08:07] jbenet opened #4 "maybe target `/bin/sh`?"
I think this is a great idea. I wonder, perhaps it may make sense to target `sh` instead of `bash`? afaik, `sh` is more portable + found in more systems. though i'm not sure.

[2015-03-09 08:12] hachre commented on #4
+1

[2015-03-09 08:25] ryanmjacobs commented on #4
Oooh, yes this is a good idea. Oftentimes, I'm restricted because of `sh`. If bish could compile to `sh`, it would be very useful.

[2015-03-09 08:26] jbenet commented on #4
Yeah, i exclusively use `sh` for portability. It's painful. `bish` might really alleviate that!

[2015-03-09 08:37] richq opened #5 ""bish_success: command not found" when using exists()"
Seems like when functions from StdLib are pulled in, the pulling in isn't recursive. Maybe just include the lot, regardless of if they are used or not? Bloat for the win!

The following example:

[code]

gives this, which is missing bish_success function.

[code]

[2015-03-09 08:41] richq opened #6 "How to compare strings in ifs?"
When using if, bish seems to always uses -eq for string comparisons. This makes it impossible (?) to compare strings. I wanted to write a "direxists" that made sure the dir arg wasn't empty, but couldn't do it:

[code]

produces:

[code]

But this gives an error: `line 7: [[: /dirname: syntax error: operand expected (error token is "/dirname")`. Line 7 is the if with -eq on it.

[2015-03-09 11:39] tdenniston commented on #6
This is an issue with code generation. Currently it always emits "-eq" for "==" because it does not check the type of the operands. Should be fairly straightforward to fix.

[2015-03-09 11:41] tdenniston commented on #5
Hmm... I need to fix the `link_stdlib` function for this. I probably broke this with c3f0169.

[2015-03-09 11:46] tdenniston commented on #4
This is a good idea. I'll keep bash as the default target (due to features I plan to support in bish like hash maps), but we can add `sh` code generation. It may make sense to wait on this until the language has stabilized a bit more.

[2015-03-09 12:42] reklis opened #7 "biah interpreter"
Perhaps there is some way to have a single step compile / source so that we could make .bish files executable and put a shabang at the top?

Something like :
# !/usr/bin/env bish

...

And then that automatically does this when you run it:

bish < myscript.bish | bash

Or something to that effect?

Having to compile it seems like a lot of friction for quick and dirty. But it is great for deploying

[2015-03-09 15:38] hawkw commented on #7
:+1: This would also open up the possibility of a REPL, which is always nice.

[2015-03-09 15:39] hawkw commented on #4
:+1:

[2015-03-09 16:31] gabesullice commented on #2
+1

[2015-03-09 16:43] Inndy commented on #7
[code]

[2015-03-09 20:15] tdenniston commented on #6
Should be fixed with b40db23. Thanks for reporting the issue!

[2015-03-09 20:15] #6 closed, assigned to nobody

[2015-03-09 20:54] tdenniston commented on #5
Fixed with commit 036eabd.

[2015-03-09 20:54] #5 closed, assigned to nobody

[2015-03-09 21:04] tdenniston commented on #2
Great idea, as there are currently no examples or FAQ or anything of the sort. The syntax is still in flux, but there should probably be at least a short introduction to bish.

[2015-03-09 21:10] tdenniston commented on #5
By the way, the shorthand syntax for using function calls as booleans/values does not work yet. This:

[code]

Should be implemented like this:

[code]

Don't worry, it's on my to do list!

[2015-03-10 02:23] lilladd201 opened #8 "great idea"
Sounds good to me

[2015-03-10 02:24] lilladd201 opened #9 "great idea"
Sounds good to me

[2015-03-10 02:24] lilladd201 opened #10 "great idea"
Sounds good to me

[2015-03-10 03:23] Inndy commented on #8
Please don't do that. You just created THREE meaningless issues.

[2015-03-10 03:41] lilladd201 commented on #8
Sorry man I'm new to this figured I was in tutorial mode still and had to
comment to get the git command
 On Mar 9, 2015 11:23 PM, "Inndy" notifications@github.com wrote:

[2015-03-10 06:50] richq commented on #5
OK, got it. Thanks.

[2015-03-10 12:46] tdenniston commented on #8
Haha, no worries. Glad you like the project. However, I will close this issues now :-).

[2015-03-10 12:46] #8 closed, assigned to nobody

[2015-03-10 12:46] #9 closed, assigned to nobody

[2015-03-10 12:47] #10 closed, assigned to nobody

[2015-03-10 13:00] tdenniston opened #11 "Bish does not support I/O redirection"
Should be able to do e.g. `ls | grep foo` in bish.

[2015-03-10 13:11] ypersyntelykos commented on #11
i dont understand

[2015-03-10 13:14] tdenniston commented on #11
Well, one of the most powerful primitives in bash (or any sort of shell) is redirection of input/output between processes. It's the "Unix philosophy": write lots of small programs that perform one job, and stitch them together with I/O redirection. Thus, bish must support these operations.

`ls | grep foo` simply means list files, but instead of printing the listing to the screen, redirect that ou

[2015-03-10 15:58] ghost commented on #7
Why don't you write a program that accepts the filename of `.bish` as the last argument, redirects the `stdout` to an output file and finally executes `bish` to compile `.bish`?

Accepting a filename as the last argument makes the program possible to be "called" from shebang, and the name of the file, where the shebang is, is the last argument.

**Upd:** yeah, it's my fault, `s/to an output file/t

[2015-03-10 16:16] eridal commented on #7
being able to `#!/usr/bin/env bish` would be nice

[2015-03-10 16:28] tdenniston commented on #7
I do like this idea. It shouldn't be too difficult to write a bish to bash pipeline usable from the shebang. Something like ExeTwezz's idea, only instead of redirecting to an actual output file, connect bish stdout  to bash stdin. With large programs, however, this might result in noticeable delay as the parser and code generator would be run before every execution.

[2015-03-10 18:42] adamdecaf opened #12 "Segfault when trying examples."
Am I doing something wrong?

[code]

Here's some info on my setup.

[code]

[2015-03-10 18:53] tdenniston commented on #12
No, that's a bug. Looks like infinite recursion when trying to perform the type check on 'fib'. I'll get a fix in tonight. Thanks for reporting it!

[2015-03-10 20:24] tdenniston commented on #12
Should be working now.

[2015-03-10 20:24] #12 closed, assigned to nobody

[2015-03-10 20:31] adamdecaf commented on #12
I'm still getting this after a clean and pull.

[code]

[2015-03-10 20:34] tdenniston commented on #12
I can't reproduce it now with the fib code you posted. Did you `make clean` and then `make`? If it persists, can you post a stack trace?

[2015-03-10 20:41] adamdecaf commented on #12
Ah there we go. I forgot to clean, thanks!

[2015-03-11 04:58] NeverI commented on #2
+1

[2015-03-11 18:45] egorsmkv opened #17 "Function to test values"
The idea: to make a function to check the types of values. For example, for the numbers, floating point numbers, or Boolean values.

This will improve the code of the programs significantly.

[2015-03-11 18:50] egorsmkv commented on #17
Also, it would be convenient to make some kind of modifier, if you need to execute the command from the administrator.

[2015-03-11 18:54] egorsmkv commented on #17
Add a similar function to retrieve data from the user.

[code]

[2015-03-11 20:09] richq opened #18 "Bish compiler hangs if @ section is unfinished"
Here's a minimal test case that causes the compiler to hang:

[code]

[2015-03-11 20:15] richq opened #19 "Compiler crash if number used as function name"
Here's a messed up bit of code that causes bish to segfault:

[code]

An "invalid token type for atom" or similar error would be OK, I don't expect the code to actually work since numbers are used for argument passing in the compiled shell code.

[2015-03-11 20:21] tdenniston commented on #18
Done! Thanks for reporting these.

[2015-03-11 20:30] egorsmkv commented on #19
I might add that use "_" character in variable and function names can not. This is not very convenient.

[2015-03-11 21:15] egorsmkv opened #20 "Running from anywhere"
When you create an alias is required in the application directory to load the library.

This is awkward. You can fix this?

[2015-03-11 21:28] egorsmkv commented on #20
And the interesting idea is to import scripts.
It is also convenient to use multiple expressions in the statement.

Say what?

[2015-03-11 21:44] tdenniston commented on #20
I'm not sure I understand the first point about aliases. Can you please explain more?

As for importing, that is planned, but may not be happening that soon. I'd like to get the core language features implemented first.

[2015-03-11 21:48] #18 closed, assigned to nobody

[2015-03-11 21:50] #7 closed, assigned to nobody

[2015-03-11 21:53] tdenniston commented on #7
Thanks to @noahmorrison for implementing this.

[2015-03-11 21:56] egorsmkv commented on #20
@tdenniston

For example, I compiled Bish in the folder "A/B/C". Call it from the folder "A" can not, as Bish ask upload script library.

[code]

Here you need to specify the full path to the folder where you installed Bish.

[code]

[2015-03-11 22:02] tdenniston commented on #20
Ah, got it. Good point. I'll fix that.

[2015-03-11 22:32] egorsmkv opened #21 "Translation error"
Bish-script:

[code]

Bash-script:

[code]

[2015-03-11 23:17] tdenniston commented on #21
Can you verify that it is fixed? Then I can close it.

[2015-03-11 23:24] egorsmkv commented on #21
@tdenniston Checked. Works without problems.

[2015-03-11 23:26] #21 closed, assigned to nobody

[2015-03-11 23:41] egorsmkv opened #23 "Call the standard commands"
For example, the following code will not be translated:

[code]

Will be displayed parse error:
`Parsing error: Expected variable to be a symbol near character ')', line 5`

How best to do these teams? Maybe they wrap in quotes **`**?

[2015-03-11 23:45] tdenniston commented on #23
Hmm. I'll have to figure out a good way to handle that. After the regex line-end symbol '$', bish expects there to be a variable name. That's because interpolations in strings are currently handled by prefixing '$' as well. I will need to think on this one a bit.

[2015-03-11 23:50] egorsmkv commented on #23
Yes, I also realized that there must be a variable.

Ok, I'll wait.

[2015-03-12 00:20] egorsmkv opened #26 "What are the functions I want to see in the standard library"
Here I propose to speak about all the standard features that will be included in Bish. It is desirable to describe the functions that are used very often in scripting.

My suggestions:
**abort** - display a message if something went wrong

[code]

Beauty can add the selected message in red.

**chmod** - establish certain rights to the file / folder
**read** - receiving data from a user
**glob** -

[2015-03-12 00:29] tdenniston commented on #26
Abort is a good one. I still haven't decided if the standard library should contain bish wrappers around many bash commands. In other words, I'm not sure it makes sense to have a `chmod` bish function when the user can just execute `@(chmod)` directly.

[2015-03-12 00:41] egorsmkv commented on #26
@tdenniston Need to make sure that they return an error if the operation is not possible. It is necessary to shift from implicit user scripting problems on the tongue.

[2015-03-12 01:27] egorsmkv opened #28 "Running commands from the administrator"
I would like to ask how it will be implemented?

You can make a semblance of annotations:

[code]

Or like this:

[code]

This is a relevant question, I think, for many users.

[2015-03-12 01:44] egorsmkv commented on #23
@tdenniston Why not use these quotes **`**?

[2015-03-12 03:12] noahmorrison commented on #28
By executing the entire file as sudo

[code]

This is how you would do it in bash as well, unless I'm misunderstanding something.

[2015-03-12 08:12] richq commented on #19
Yeah, but bish just doesn't like the _ and tells you so "Unhandled token character at character '_', line 4". That seems like a different issue to me "let me use _ in variable and function names".

[2015-03-12 10:07] digitalsurgeon commented on #19
in the case of:

[code]

the problem lies in Parser.cpp Parser::factor()

[code]

The checker pass has not run at this point and the types are all undefined.

[2015-03-12 10:28] egorsmkv commented on #28
@noahmorrison I mean the execution of certain commands from the administrator.

[2015-03-12 10:50] noahmorrison commented on #28
@eg0r I'm confused, could you show me an example in bash?

Do you mean something like this?

[code]

[2015-03-12 10:55] egorsmkv commented on #28
@noahmorrison Yes. Perform certain commands defined by the user.

Excuse me, I use a translator because I have weak English.

[2015-03-12 11:12] tdenniston commented on #19
@richq can you verify that it's fixed? I actually wasn't seeing a segfault on my system.

@digitalsurgeon thanks very much for tracking that down. Made fixing it trivial :-).

[2015-03-12 11:31] tdenniston commented on #19
@eg0r With commit 9214bce underscores are now allowed.

[2015-03-12 11:37] egorsmkv commented on #19
@tdenniston Thanks!

[2015-03-12 11:37] noahmorrison commented on #28
It's fine, I might play around with bash implementations this afternoon. I personally like the `@root` more than the `as root`. Running full blocks as a user might be something we look at as well.

[code]

[2015-03-12 11:53] egorsmkv commented on #28
It would be wonderful.

[2015-03-12 12:02] egorsmkv opened #29 "Rethrowing functions"
If you compile [this file](https://github.com/tdenniston/bish/blob/master/tests/double.bish), the function println will be generated twice.

I think that it generates the assert function to initialize the standard library. Need to do accounting functions created so that they generate only once.

[2015-03-12 12:28] tdenniston commented on #20
Forgot to mention it in the commit message, but bdddf7e should fix this.

Now you can do this (following your example):

BISH_ROOT=/A/B/C apps/bish-app/bish scripts/test.bish

Can you let me know if the issue is resolved?

[2015-03-12 13:03] egorsmkv commented on #20
@tdenniston Does not compile.

[code]

Perhaps you misunderstood me. I mean that the variable STDLIB_PATH must point to the folder where the library is located. Without global explanatory variables. Some version of `getCurrentDir();`

[2015-03-12 13:22] tdenniston commented on #20
It seems the only way to accomplish that is to hard code the path when `bish.cpp` is compiled. This can be done, but then if one moves the bish binary, the hard coded path will no longer be correct. The issue with using a get current directory approach is that the current directory reflects the current working directory, which changes as the user moves around the filesystem.

If you have an idea o

[2015-03-12 13:25] egorsmkv commented on #20
@tdenniston The problem is that I do not know how to program in C ++.

And that if you add a "make install"?

[2015-03-12 13:33] egorsmkv commented on #20
@tdenniston Adding `#include <limits.h>` helped.

[2015-03-12 13:35] egorsmkv commented on #20
@tdenniston That's just my opinion, did not help.

[code]

[2015-03-12 14:03] tdenniston commented on #20
You must set the BISH_ROOT environment variable in this situation. Try the following:

[code]

Alternatively you may specify the standard library path directly, such as:

[code]

[2015-03-12 14:19] egorsmkv commented on #20
@tdenniston I tried it. Add them to the ".bashrc", but it did not help. If the program does not see them.

[2015-03-12 14:24] egorsmkv commented on #20
@tdenniston Can not be made so that instead of `std::getenv("BISH_STDLIB");` used `STDLIB_PATH`?

[2015-03-12 15:12] egorsmkv opened #31 "Importing other bish-files"
Topic is relevant. You can do something like this, but it is better to determine the built-in function "eval". And then read the file and run it through this feature.

[code]

[2015-03-12 23:09] #29 closed, assigned to nobody

[2015-03-12 23:41] tdenniston commented on #20
Ok, the path to StdLib.bish is now hardcoded as an absolute path at compile time. This is done in the Makefile. The BISH_STDLIB environment variable remains as a backup. Please retry your issue and let me know if it is fixed.

[2015-03-13 10:53] egorsmkv commented on #29
@tdenniston This is normal, so the standard library is compiled?

[code]

[2015-03-13 11:01] egorsmkv commented on #20
@tdenniston Now everything is in order. You can call from anywhere.

Thanks!

[2015-03-13 11:03] #20 closed, assigned to nobody

[2015-03-13 12:51] egorsmkv commented on #29
@tdenniston That's better.

[2015-03-13 13:04] egorsmkv opened #33 "Add "break / continue" as built-in operators"
Each time not to cause this:

[code]

Thus it is necessary to expand the built-in operators to be available more simple expressions.

[2015-03-13 20:43] pketh commented on #11
+1

[2015-03-14 16:22] richq commented on #19
Confirmed, no longer crashes.

[2015-03-14 16:22] #19 closed, assigned to nobody

[2015-03-14 18:04] egorsmkv commented on #33
@tdenniston

Thanks.

It will be difficult to add these statements: **-=., +=, *=, /=, %=, and, not, or**? It is important to add arrays.

[2015-03-14 18:05] tdenniston commented on #33
I plan to add those operators to the language. I also plan to add arrays to the language so that one doesn't have to use @(...) for array support. But those should be separate issues: I'll close this one now.

[2015-03-14 18:05] #33 closed, assigned to nobody

[2015-03-15 16:21] egorsmkv commented on #33
@tdenniston I have a question.

If the language is similar to C, then it is probably better to make statements like there? Instead of "and, or" make "&&, ||".

[2015-03-15 16:50] tdenniston commented on #33
Well, apart from curly braces and semicolons, similarity to C was never part of the design plan. In fact, I am shooting for more Pythonic syntax (apart from whitespace sensitivity, thus the braces and semicolons). Thus, 'and' and 'or' were deliberate choices. If there exists significant opposition to this decision, it will be easy to change.

[2015-03-15 16:55] egorsmkv commented on #33
@tdenniston Got It. I, too, for the Python-style language.

[2015-03-15 23:44] heyvito opened #36 "Escape $ character"
Is there any way to do it? I'm struggling to use `awk` in my bish script.
Already tried the following combinations:
- `@(awk "{ print $1 }");`
- `@(awk "{ print $$1 }");`
- `@(awk "{ print \$1 }");`

The result is the same, no matter the combination:

[code]

[2015-03-16 00:10] egorsmkv commented on #36
The dollar is used to declare variables, so getting the error. You need to come up with another scheme for writing call arbitrary commands.

Author library already knows about it.

[2015-03-16 00:14] heyvito commented on #36
Oh mate, I'm sorry. I didn't know he knew about it.
He may close this issue if he want.

Thank you!

[2015-03-16 00:35] egorsmkv commented on #36
@victorgama Nothing to apologize for.

Language is only now developing. While sending a manual sooner :)

[2015-03-16 00:52] tdenniston commented on #36
Hey, thanks for opening the issue. Now that I know multiple people are getting stuck on this issue, I'll make it higher priority. I just need to figure out a clean way to fix it.

[2015-03-16 00:55] egorsmkv commented on #36
@tdenniston Any thoughts already have?

[2015-03-16 01:01] heyvito commented on #36
@tdenniston Don't mention it! (:
I would love to help, but I don't have any C/C++ background.

[2015-03-16 22:56] roryokane opened #38 "Accept a script through standard input, not only a file argument"
Currently, the only way to compile a script is passing an existing file as an argument:

[code]

I think bish should be able to read a script from standard input, too:

[code]

Why does this feature need to be added? Well, it would make bish adhere more closely to UNIX principles, making it easier to use in various scripts. But the specific reason I care is that it makes experimentation easier. Af

[2015-03-16 23:18] tdenniston commented on #38
Should be pretty easy to add. I'll hopefully have a few minutes tonight to get that in.

As a side note, `export x=3` is a bash command, not a bish statement. So for your experiment you'd want to do something like `echo "x=3;" | bish`.

[2015-03-17 10:33] tdenniston commented on #36
@victorgama Can you verify that your issue is fixed? I added a test with the awk example, but I prefer to have you confirm it's fixed before I close it. I decided on the `\$` syntax to escape dollar signs.

[2015-03-17 10:34] tdenniston commented on #23
@eg0r This should work now, for example:

[code]

Seems to work as expected.

[2015-03-17 11:19] tdenniston opened #39 "'bish -r' should exit with the return code of the script."
If you have the bish script `test.bish`:

`assert(false);`

And run it with:

`bish -r test.bish`

The exit code is 0 when it should be 1.

[2015-03-17 15:24] egorsmkv commented on #23
Wonderful commit. Now you can make functions for type checking:

[code]

[2015-03-17 17:22] heyvito commented on #36
@tdenniston Works perfectly! Thank you!

[2015-03-17 17:56] #36 closed, assigned to tdenniston

[2015-03-17 17:57] #23 closed, assigned to nobody

[2015-03-17 20:32] tdenniston commented on #2
I started a wiki page here: https://github.com/tdenniston/bish/.

[2015-03-17 20:32] #2 closed, assigned to nobody

[2015-03-17 20:34] tdenniston opened #41 "Bish for loop bounds are inclusive"
Currently, the following bish script:

[code]

will print all numbers from 0 to 10, inclusive. The usual behavior of ranges such as these is that the lower bound is inclusive, but the upper bound is exclusive. Bish should probably match this expectation.

[2015-03-17 20:59] tdenniston opened #42 "Function arguments in interpolated strings don't work"
Test case:

[code]

The argument $x does not get renamed to $1 during code generation:

[code]

[2015-03-17 23:50] egorsmkv commented on #42
You can do like [Batsh](http://batsh.org).

[code]

[code]

[2015-03-18 00:33] tdenniston commented on #42
Hmm, that's a good idea. I might go with that. It would simplify code generation a bit.

[2015-03-18 07:53] qinshulei opened #43 "How about add BISH_USERLIB to extend BISH_STDLIB?"
Hi tdenniston ,

Thank you for your great bish .

I find that we can override the default standard library path by setting the via BISH_STDLIB.
But I think we don't need to override it normally.And we only need to extend it.
So I suggest that add via BISH_USERLIB for this.

Best regards,
Shulei.

[2015-03-18 11:16] #39 closed, assigned to nobody

[2015-03-18 11:34] tdenniston commented on #43
Glad you like bish!

Do you need to extend the standard library, or do you just need the ability to use common functions between bish files? I suspect that best way to solve your problem is to allow importing other bish files (see issue #31).

[2015-03-18 11:51] tdenniston commented on #31
I believe the best way to do this is to make 'import' a language feature, not a function call. I'll get to this soon.

[2015-03-18 12:39] qinshulei commented on #43
I think I don't need to extend the standard library.

Yes,we may have serveral bish files for common functions.

Yes,the best way to solve this is to allow importing other bish files.
And in compiling to bash, it should only import the necessary functions which is really used in main script, just like the standard library does.

[2015-03-18 13:57] tdenniston commented on #28
Overall, this is a good idea. One thing is that the syntax should probably be '@su' for superuser instead of '@root'.

It would also be good to come up with a unified syntax for this and executing normal external commands.  For example, we might do `@su(...);` to match the `@(...);` syntax. The idea of executing whole external blocks is good too, and it would be fairly straightforward to allow mul

[2015-03-18 17:07] egorsmkv commented on #28
@tdenniston Need to make the operator that selects the user, not just root.

E.g.: `@root(...);` or `@my-mom(...);`.

To execute multiple commands:

[code]

[2015-03-18 20:26] tdenniston commented on #38
This is now implemented. If you specify '-' as the input file, it will read from stdin. You can now do things like this:

`echo 'println("hello");' | bish - | bash`

[2015-03-18 20:26] #38 closed, assigned to nobody

[2015-03-19 11:59] tdenniston opened #44 "Distinguish between local and global scope for variables"
With the current code generation for bash, all variables are global. For example:

[code]

This script prints "3" when it would make more sense for it to be a compile-time error in `get()` about an unknown variable.

The fix for this issue is:
- Allow use of global variables only if they are defined at global scope. E.g. in the above script, require `global = 0;` at module/global scope.
- Add comp

[2015-03-20 00:50] #44 closed, assigned to nobody

[2015-03-20 01:07] #42 closed, assigned to nobody

[2015-03-20 06:59] egorsmkv commented on #42
@tdenniston From the project, you can still take the idea of unlimited quantities has argument for the function "print".

[2015-03-20 11:03] tdenniston commented on #42
Supporting variadic functions (functions with arbitrary numbers of arguments) is definitely planned. So much to implement, so little time!

[2015-03-20 12:20] egorsmkv commented on #42
@tdenniston I think a lot of desires :smile:

[2015-03-21 18:55] p3k opened #45 "Not able to compile on OS X 10.10.2"
I am not sure if I am having the C++ Stdlib – how could I verify it? And how would I install it if necessary? I am using MacPorts.

Anyway, here is the compiler output:

[code]

[2015-03-21 19:05] tdenniston commented on #43
Ok, importing other bish modules is now supported. Closing this issue, but please see #31 for an explanation of how it works. If there are issues, please report them in a new issue or in #31.

[2015-03-21 19:05] #43 closed, assigned to nobody

[2015-03-21 19:07] tdenniston commented on #31
There is now an `import` statement in the language. Here's an example of how to use it:

[code]

Please let me know of issues with this: it was a complicated implementation, so there are probably bugs.

[2015-03-21 19:34] tdenniston commented on #45
Hmm. Did you recently update to 10.10? And did you update your ports when you did? I googled for "couldn't understand kern.osversion `14.1.0'" and turned up a couple of links that seem to indicate that you might be using the gcc installation from before your upgrade.

Also, could you post the output of `g++ -v`?

[2015-03-21 19:39] heyvito commented on #45
Compiled on Yosemite 10.10.2 (without MacPorts) without problems.
Output of `g++ -v`:

[code]

[2015-03-21 20:07] p3k commented on #45
Thanks for the swift replies!

Are my Xcode command-line tools b0rked in some way?

[code]

Anyway, after switching to the MacPort version of gcc everything built smoothly.

[code]

[2015-03-21 20:34] p3k commented on #45
OK, I think I found my mistake (or rather: relic of ancient times). I have had `/Developer/usr/bin` in my PATH and there exist a lot of old binaries – among them the 4.2.1 version of gcc shown above.

After removal I now get the output as @victorgama :)

[2015-03-21 20:34] #45 closed, assigned to nobody

[2015-03-21 20:36] tdenniston commented on #45
Glad you got it sorted out!

[2015-03-22 14:27] egorsmkv commented on #31
@tdenniston

Such an example.

I created a copy of "a.bish" called "a2.bish" and changed "b.bish" as follows:

[code]

After running the script displays this error:

[code]

**However, the file name is not important. Just the same function names in the files.**

[2015-03-22 14:29] egorsmkv commented on #31
Also, in the future, you need to add an import scripts from folders.

[2015-03-22 14:45] egorsmkv opened #46 "Documentation translation"
@tdenniston I can translate the documentation into Russian. Create a new page on the Wiki I did not get.

I think you need to create a folder in the repository and load transfers to her?

[2015-03-22 16:16] tdenniston commented on #31
@eg0r Can you verify that the bug with `a` and `a2` is now fixed?

[2015-03-22 16:44] egorsmkv commented on #31
@tdenniston Checked. No problem.

[2015-03-22 16:45] egorsmkv commented on #31
@tdenniston Hurried.

If twice import file, displays an error:

[code]

File:

[code]

[2015-03-22 17:56] tdenniston commented on #31
Ok, that issue should be fixed now.

[2015-03-22 17:58] tdenniston commented on #46
@eg0r You're a contributor, so you should be able to create a new wiki page. Is there a "new page" button? Did you get an error message?

[2015-03-22 18:05] egorsmkv commented on #46
The button is there, but when you click on this address: https://github.com/tdenniston/bish/wiki/_new throws the main wiki.

[2015-03-22 20:02] egorsmkv commented on #31
@tdenniston Yes, now works without problems.

Here's another problem: if you call the import in the file, an error will occur segmentation.

[code]

[code]

[2015-03-22 20:22] egorsmkv commented on #31
Noted that the examples do not work in the README. They need to be corrected.

[2015-03-22 23:04] tdenniston commented on #31
@eg0r Thanks for catching that! Can you verify that they work now?

[2015-03-22 23:18] tdenniston commented on #46
I created a page for you to edit: https://github.com/tdenniston/bish/wiki/Home-(RUS). I don't know why you can't create pages yourself. Have at it, but could you please try to keep it as close as possible to the English version? Formatting, etc.

[2015-03-22 23:42] egorsmkv commented on #31
After compiling a file does not function (the same bish-file).

[code]

[2015-03-22 23:47] tdenniston commented on #31
@eg0r Can you paste the bish file you are using as input?

[2015-03-22 23:50] egorsmkv commented on #31
[code]

[2015-03-22 23:52] egorsmkv commented on #46
I do not know what the problem is, but I can not make any changes.

Tried through cloning wiki, also comes out.

[code]

[2015-03-22 23:53] tdenniston commented on #31
I can't reproduce your output. Can you make sure you're using the latest version?

[code]

[2015-03-22 23:56] tdenniston commented on #46
Try it now. I had accidentally set wiki editing to private.

[2015-03-22 23:59] egorsmkv commented on #31
My fault, I forgot that the file has changed earlier.

Checked now works without errors.

[2015-03-23 00:01] egorsmkv commented on #46
Now there is no problem :smile:

[2015-03-23 03:08] qinshulei opened #47 ""Invalid token type for atom" don't show the line number."
[code]

It's not very convenient that the "Invalid token type for atom" don't show the line number.

[2015-03-23 03:29] qinshulei commented on #31
:+1:

For import statement,I think the error message should show the file name to indicate the location of error.

e.g.

[code]

[2015-03-23 05:08] Icenowy opened #48 "Can bish use raw shell include files?"
I want to use bish to partly rewrite https://github.com/AOSC-Dev/autobuild3 (The build tool of my Linux distro)

However, autobuild3 is modular and has many written bash routines.

How can I use them in bish?

PS: I don't like the generating style of bish -- It's not modular at all.

[2015-03-23 05:15] qinshulei commented on #31
Hi tdenniston,

I test it with my script,and find some issues.
- In test-userlib.bash , It generate two userlib_userlib_format_date function.And the function name have two userlib prefix.
- In result.The expected output is `3月 23 12:31:45 | INFO  : info message`.But the actual output is `3月 23 12:31:45 | INFO  : info`.

Here is my script:

[code]

[code]

[code]

[code]

[2015-03-23 12:27] tdenniston commented on #48
Can you explain a little bit more what you are trying to do? Do you want to execute external bash scripts, or call functions from a bish script that are defined in an external bash script?

The code generation strategy I'm using for modular bish programs was deliberate: everything is statically linked so that a multi-part bish program can be generated and distributed as a single bash script. Howev

[2015-03-23 13:04] tdenniston commented on #47
@qinshulei Should be fixed. Thanks for reporting!

[2015-03-23 13:04] #47 closed, assigned to nobody

[2015-03-23 13:28] tdenniston commented on #31
@qinshulei Thanks for reporting those. Can you verify that both problems are fixed?

[2015-03-23 13:43] egorsmkv commented on #31
@tdenniston I checked. There are no errors.

[2015-03-23 20:10] digitalsurgeon commented on #41
You can perhaps take a page from swift:
http://www.notesfromandy.com/2014/07/30/swifts-range-operators/

official apple docs on this:
https://developer.apple.com/library/prerelease/ios/documentation/Swift/Conceptual/Swift_Programming_Language/BasicOperators.html#//apple_ref/doc/uid/TP40014097-CH6-ID73

so both .. and ...

[2015-03-23 21:00] tdenniston commented on #41
Thanks for the pointer to that. I'm not sure how I feel about `..<` as an operator though. I also like their compromise of no semicolons but explicit blocks with curly braces. Looks like I'll have to take a closer look at Swift to see what other ideas I can borrow.

[2015-03-24 02:25] qinshulei commented on #31
@tdenniston Great.Both problems are fixed.

[2015-03-24 12:02] tdenniston commented on #31
I'm going to close this issue now. If any other problems come up, please report them in new issues.

[2015-03-24 12:02] #31 closed, assigned to tdenniston

[2015-03-25 12:14] tdenniston opened #50 "Make semicolons optional"
One common observation about bish is that requiring semicolons and curly braces doesn't seem like "modern syntax." The original reason why I added those requirements was to make parsing easier. However, to make bish more attractive for shell scripting, semicolons should be optional.

Statement parsing should search either for a newline character or a semicolon. Thus, if one wants to write two stat

[2015-03-25 12:24] tdenniston opened #51 "Allow side-effect `print` statements in functions"
Currently, if you have `print` statements in a function that returns a value, those print statements will form a part of the return value. This is due to the way bash return values work. For example:

[code]

This assertion will fail because the return value of `f(2)` is not `3`, but `executing f: 3`.

While this behavior matches the behavior of bash functions, it is not intuitive and should be fi

[2015-03-25 18:19] tdenniston commented on #51
It looks like the only way to handle this cleanly would be to have values "returned" by setting global variable values. This results in slightly obfuscated generated code, but hopefully that won't be an issue for anyone.

[2015-03-26 02:33] qinshulei opened #52 "Add something to support parse options from shell script command line"
Hi @tdenniston ,

 I think it's important for script to support parse options from shell script command line .But it seems that there is no good way to do this in bish.
 so I hope you can add something to support this.

Thank you.
shulei

[2015-03-26 12:37] tdenniston opened #53 "Add support for arrays"
Bish should support simple array types.

[2015-03-26 12:38] tdenniston commented on #52
@qinshulei This depends on #53, which should hopefully be done soon (I'm working on it now).

[2015-03-27 01:26] heyvito commented on #53
That would be really nice! Specially combined with `split` and `join`, if you intend to implement those.

[2015-03-27 01:30] heyvito opened #54 "Version tagging"
It would be nice if you could push a tag now and then, so I could write a Homebrew package! :sunglasses:

[2015-03-27 07:06] Artoria2e5 commented on #48
autobuild3 is a set of scripts that we use to build software packages in our linux distribution. It is quite a modular system (`find -type f . | wc -l` says so) and contains a lot of `source` or `.` commands. Some parts of autobuild are also used in other scripts and that's why Icenowy wants to include compile-as-library and raw source stuffs.

[2015-03-27 07:31] HyperHCl opened #55 "Implement =~ operator for [[-based regex matching."
Bash's `[[` builtin provides various extensions and improvements, include the regex-matching `[[ str =~ regex ]]`.

For other shells, we can wrap it up like `echo 'str' | grep -o 'regex'` and send it to an array (emulated or shell native), just like bash uses `BASH_REMATCH`.

[2015-03-27 13:47] tdenniston commented on #53
@victorgama Adding split and join is a good idea: I'll hopefully get to that soon!

Closing this, as the `arrays.bish` test is passing. Report any array-related bugs in a separate issue.

[2015-03-27 13:50] tdenniston commented on #54
@victorgama I wanted to get bish a little more stable before I created a tag. My plan is to create the first tag when milestone 0.1 is reached, which shouldn't take too much additional work. Hopefully by the end of the weekend I can be confident enough in the stability/usability to create a 0.1 tag. I also want to create a few common distribution packages at the 0.1 milestone (e.g. for Ubuntu).

[2015-03-27 13:51] tdenniston opened #56 "Improve type checking error messages"
The type checker simply fails an assertion if some statement fails to typecheck. It would be nice if these messages point to the line number of the error.

[2015-03-27 14:43] heyvito commented on #54
Perfect! Let me know and then we publish it on brew ASAP. :D

Sent from my iPhone

[2015-03-28 13:43] #56 closed, assigned to nobody

[2015-03-28 14:15] tdenniston commented on #53
Reopening: we should be able to pass arrays as function arguments. This is needed to implement an array length function in stdlib, for example.

[2015-04-03 22:13] egorsmkv opened #59 "Iteration of the array elements"
I wrote the following script:

[code]

And got a bash script:

[code]

But when you start getting only the first element.

[2015-04-03 22:24] tdenniston commented on #59
Ah, ok. I think I know what the problem is there. Thanks for reporting. It should be simple to fix.

[2015-04-03 23:48] tdenniston commented on #59
@eg0r Can you verify that it's fixed for you now?

[2015-04-03 23:49] tdenniston commented on #53
Closing again. There is now a passing test for using arrays as arguments.

[2015-04-03 23:49] #53 closed, assigned to nobody

[2015-04-04 00:36] egorsmkv commented on #59
@tdenniston Checked, there is no problem now.

And now the question is: the number of semicolons are not supported yet?

[code]

[2015-04-04 00:44] egorsmkv commented on #59
@tdenniston By the way, why not remove `()` next to the names of functions? Or is it important for some versions of bash?

[2015-04-04 00:54] tdenniston commented on #59
@eg0r Floating point numbers (numbers with decimal points) are not supported yet. That's a limitation of bash. I have to figure out what to do about that. And, I should remove `()` next to functions. I thought they were necessary, but I was wrong.

[2015-04-04 00:54] #59 closed, assigned to nobody

[2015-04-04 00:56] egorsmkv opened #60 "error segmentation"
The following program causes an error segmentation.

[code]

[2015-04-04 01:29] egorsmkv commented on #60
And this program has a similar mistake.

[code]

[2015-04-04 13:26] tdenniston commented on #60
@eg0r Should be fixed now. Thanks for catching this one.

[2015-04-04 13:27] tdenniston commented on #55
This is a good idea, but I think it will wait until version 0.2.

[2015-04-04 13:27] #46 closed, assigned to nobody

[2015-04-04 16:51] tdenniston commented on #52
@qinshulei You should be able to use the built in 'args' array now for this task. For an example, see the `tests/args.bish` file. If there are any problems, open a new issue for them. Thanks!

[2015-04-04 16:51] #52 closed, assigned to nobody

[2015-04-05 04:59] egorsmkv commented on #60
@tdenniston Now there is no error. Thank U!

[2015-04-05 06:57] egorsmkv opened #61 "Mathematical functions"
Hi, @tdenniston

I have created just such a library: https://gist.github.com/eg0r/4da3b0d75cabcbe29e1f

PR did not do, as it is necessary to formalize the library. I propose to move it to a separate folder and there are going to bish-files to be imported one, for example, `stdlib.bish`.

**Yeah, well, I ask to comment on my code, it can be somehow need to improve?**

[2015-04-05 08:09] egorsmkv commented on #60
Close?

[2015-04-05 08:14] egorsmkv opened #62 "Invalid argument type for function"
Perhaps there is something wrong with the compiler.

File `tests.bish`:

[code]

Result:

[code]

[2015-04-05 12:31] #60 closed, assigned to nobody

[2015-04-05 13:02] tdenniston commented on #62
@eg0r Should be fixed now.

[2015-04-05 13:22] tdenniston commented on #61
@eg0r Thanks, this is great!

Your code looks good. I will create a separate folder for libraries and move `stdlib.bish` there. After that, you can create a PR with this library.

One question: is `bc` available on all systems? Do you know of any systems without `bc`?

[2015-04-05 13:35] tdenniston opened #63 "Support string manipulation"
Bash supports lots of string manipulation:

http://tldp.org/LDP/abs/html/string-manipulation.html

Bish should unify the functionality covered in that page and provide a saner syntax.

[2015-04-05 15:08] egorsmkv commented on #62
@tdenniston Yes, now there are no problems.

[2015-04-05 15:25] egorsmkv commented on #61
@tdenniston As suggested by [Wikipedia](http://en.wikipedia.org/wiki/Bc_%28programming_language%29) must be in UNIX. But it is possible to check in functions that will display abort.

[2015-04-05 15:32] egorsmkv commented on #61
@tdenniston By the way, floating point numbers, you can do so.

[code]

[2015-04-05 17:14] #62 closed, assigned to nobody

[2015-04-05 17:26] tdenniston commented on #61
@eg0r You can submit a PR for this library now.

[2015-04-06 22:45] #50 closed, assigned to nobody

[2015-04-20 15:03] tdenniston commented on #51
Closing, since this now has a passing test. Please report related problems in new issues.

[2015-04-20 15:03] #51 closed, assigned to tdenniston

[2015-04-20 15:54] tdenniston commented on #11
Punting on this issue so I can do a 0.1 release.

[2015-04-20 15:59] tdenniston commented on #54
Ok, after much delay, I've pushed a 0.1 tag! So I'll close this issue for now.

[2015-04-20 15:59] #54 closed, assigned to nobody

[2015-04-20 16:01] heyvito commented on #54
Perfect! I will work on a brew package asap! (:

(Unless you want to do it by yourself)

-- 
Victor Gama
http://vito.io
+55 11 953 804 895

On April 20, 2015 at 12:59:19 PM, Tyler Denniston (notifications@github.com) wrote:

Closed #54.

—
Reply to this email directly or view it on GitHub.

[2015-04-20 16:01] tdenniston commented on #54
Go for it!

[2015-04-22 11:11] tdenniston opened #66 "Support file globbing"
As discussed here: http://ubuntuforums.org/showthread.php?t=2274570

File globbing is considered one of the main benefits of shell scripts versus other scripting languages. Bish should support globbing as a first-class feature.

Example of how this might look:

[code]

[2015-04-22 12:05] egorsmkv commented on #66
:+1:

[2016-01-27 08:52] akalsi87 opened #68 "Strange behaviour writing utility functions"
Hello,

I am trying to write some utility functions since bish is strongly typed (somewhat).

[code]

I had a few issues writing this and I still don't get the correct output.
1. Replacing the ifs with an if-else-if ladder stops printing the right answer.
2. The code as is prints the right answer (if prints are uncommented) but never return the right answer to val.

Let me know if I can help furth

[2016-01-27 16:11] tdenniston commented on #68
Thanks for reporting this! Could you clone the latest master changes and see if your issue 2 is fixed (return value bug)? If so, I'll look at the if/else bug.

[2016-01-27 16:55] akalsi87 commented on #68
I can confirm that the function return value bug is fixed. I believe that is a duplicate of the fix you made earlier.

[2016-01-27 17:13] egorsmkv commented on #68
@tdenniston going to develop the project further?

[2016-01-27 17:20] akalsi87 opened #69 "bish -r does not work when script requires stdin input to be forwarded"
Here is a snippet that works correctly when run as a standalone bash script but fails in bash -r:

[code]

This seems to me to be because of `run_on` in `bish.cpp`.

I propose we create a temporary file somewhere and run it using `system` rather than trying to mimic the semantics of this.

Thoughts?

I'd be willing to fix this issue.

[2016-01-27 18:17] tdenniston commented on #68
@akalsi87 Can you verify that the if/else chain now works?
@egorsmkv Good to hear from you! I will have some spare time this spring, so I hope to continue more development on bish.

[2016-01-27 18:29] egorsmkv commented on #68
Excellent!

[2016-01-27 18:42] akalsi87 commented on #68
I can verify that this works now.

Thanks!

[2016-01-27 19:08] akalsi87 opened #70 "Unclear error message on syntax error."
The following snippet complains that newval is not defined, however it is.

[code]

Error:

[code]

[2016-01-27 19:13] akalsi87 commented on #70
The real error here is:

[code]

[2016-01-27 21:26] #68 closed, assigned to tdenniston

[2016-01-28 17:30] sandeep06011991 commented on #61
Sorry to intrude ,
I am a programmer without university education trying to teach myself compilers by working on open source projects . I would really appreciate if you could give me simple tasks , some guidance ,anything at all . All help appreciated

[2016-01-28 17:56] egorsmkv commented on #61
@sandeep06011991 Notes? Clone project and experiment!

[2016-05-08 08:24] #61 closed, assigned to nobody

[2016-05-08 08:24] #28 closed, assigned to nobody

[2016-05-08 08:24] #26 closed, assigned to nobody

[2016-05-08 08:24] #17 closed, assigned to nobody

[2016-09-11 09:12] septs opened #71 "next release publish date?"

[2016-09-15 13:59] tdenniston commented on #71
@septs Unfortunately, I haven't had the time in recent months to work on bish, so I'm unsure when the next release will happen. In case there are other comments or questions, I'll leave this issue open as a place to discuss them.

[2016-12-19 03:58] #71 closed, assigned to nobody

[2017-04-21 10:29] bschlenk opened #72 "Declarative syntax for autocompletions"
I've been thinking of something like this for a while, but I always focused on the idea of automating the autocompletion scripts. It would be really cool to come up with a declarative syntax for defining function arguments that could be compiled into [programmable completion](http://www.tldp.org/LDP/abs/html/tabexpansion.html) in bash.

Here is a contrived example of how a function in bish could b

[2017-04-21 11:55] tdenniston commented on #72
@bschlenk Interesting idea! Would the use-case be for using the bish REPL as a shell itself? Or are you thinking that the compiled bash script would register its autocompletion with the user's current shell (similar to Example J-1 in the document you linked)?

PS - you may have noticed, but I haven't had any time to devote to bish for quite a while now. If you'd like to take a crack at implementin

[2018-07-04 10:12] QiAnXinCodeSafe opened #73 "never used variable"
src/Tokenizer.cpp in line 260

never used variable 'c'

[2019-10-21 17:36] Artoria2e5 commented on #66
For now you can do with the "basically eval" `@()` syntax:

[code]

The first assignment on a is to fool the typecheck. The `b=a` assignment is to invalidate the constant `a[2] == 2` transfer.

[2019-10-21 18:27] Artoria2e5 opened #74 "Backticks leak into arbitrary command execution"
Try:
[code]
You will get a commnad-not-found for `a`, because it actually tried to run it.

* * *

I tried to work this around by implementing the magical POSIX quote:
[code]

...combined with disabling the `\` keeping behavior in Parser for quoted strings to handle cases like `\$` -> literal `$`, and not enabling the escape for the ExternCall code path. The problem is it also kills legit backslas

[2020-11-19 15:58] AzeemUlMazhar opened #77 "Need to contact"
hey,hope you are doing well.
I went through your bish project,and i think it's a great idea.
I am working on a similar project,and need a little guidance,if you can spare some time so we can talk in private.

Thanks
Regards

[2020-12-25 16:29] adamasantares opened #78 "Guys, it's time to create a some stable fork."
It's obvious that project will die if nobody create a stable fork. I need this tool but I'm not a C++ developer.

[2020-12-25 16:36] adamasantares commented on #78
I've found only one Fork which was created at 2019 https://github.com/Artoria2e5/bish
@Artoria2e5

[2020-12-25 17:00] adamasantares commented on #74
@Artoria2e5 hey how are you?
Could you check it?
https://github.com/tdenniston/bish/issues/78

[2020-12-26 11:20] adamasantares commented on #78
So, I tried to connect to Tyler via LinkedIn, but no success.
His page looks pretty empty BTW. Moreover, he has no any commit since Dec 2019.
Not sure what happened.

I created my own fork, where I've updated some things in documentation: https://github.com/adamasantares/tdenniston-bish

Anyone who can/wants to help with it, YAW.

[2022-07-19 00:31] masukomi opened #79 "error: dynamic_cast from rvalue to reference type"
problems compiling under macOS 12.4 with an M1 chip.

[code]